  /* mediam screen size */
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}


  /* main navbar style start */
 
.main-navbar-logo {
  margin-bottom: 0px;
}
.main-navbar-logo a{
  text-align: center;
}
.main-navbar-logo a img{
    display: inline;
    margin-bottom: 0px;
}
.main-navbar-logo a p{
  display: block;
  margin-top:100px;
}
.main-item ul{
 margin-top: 40px;
 text-align: right;
 margin-right: 50px;
}
.main-item ul li{
  left: auto;
  margin: 0;
  display: inline;
}
.main-item ul li a{
  display: inline;
  padding: 10px;
}
/* main navbar style End */
/* navbar2 style start */
.navbar2{
  overflow: scroll;
  height: 700px;
}

input{
  margin-top: 10px;
}

/* navbar2 style end */
/* start the middle section style */
aside .col-md-6{
  padding: 0 15px;
}
.first-part{
  overflow: scroll;
  height: 700px;
}

/* end the middle section style */
/* aside ber style start */
.aside-style{
  overflow: scroll;
  height: 700px;

}
/* aside ber style end */